<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.bsactivity.dao.BsactivityGoodsqcodeMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.bsactivity.entity.BsactivityGoodsqcode" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="goodsid" column="goodsid"/>
     <result property="qcode" column="qcode"/>
     <result property="signqcode" column="signqcode"/>
     <result property="status" column="status"/>
     <result property="createTime" column="create_time"/>
     <result property="modifyTime" column="modify_time"/>
     <result property="userid" column="userid"/>
     <result property="imgpath" column="imgpath"/>

        <!--autoMapping:完成子对象的自动映射，若开启驼峰，则按驼峰匹配-->
      <!--  <association property="bsactivityGoods" javaType="com.icloud.modules.bsactivity.entity.BsactivityGoods" autoMapping="true">
            <id column="goodsid" property="goodsid"/>
            <id column="name" property="name"/>
        </association>
        <association property="wxUser" javaType="com.icloud.modules.wx.entity.WxUser" autoMapping="true">
            <id column="userid" property="userid"/>
        </association>-->
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,goodsid,qcode,signqcode,status,create_time,modify_time,userid
    </sql>

    <select id="queryMixList" resultMap="BaseResultMap">
        select t.goodsid,t.qcode,t.signqcode,t.status,t.create_time,t.modify_time,t.userid,
        g.name as "bsactivityGoods.name",u.nickname as "wxUser.nickname"
        from t_bsactivity_goodsqcode t
        LEFT join t_bsactivity_goods g on g.id = t.goodsid
        LEFT JOIN t_wx_user u on u.id = t.userid
        <where>

            <if test="goodsid != null">
                and t.goodsid = #{goodsid}
            </if>
            <if test="userid != null">
                and t.userid = #{userid}
            </if>
            <if test="status != null">
                and t.status = #{status}
            </if>
            <if test="signqcode != null">
                and t.signqcode = #{signqcode}
            </if>
            <if test="nickname != null and nickname.trim() != ''">
                and u.nickname like '%'||#{phone}||'%'
            </if>
            <if test="name != null and name.trim() != ''">
                and g.name like '%'||#{name}||'%'
            </if>
        </where>
    </select>
</mapper>